%br
  %h1.center It Does Nothing, but it does it Really Well.
%pre{ :style => 'width: 800px; margin: auto;' }
  rails new application_name --skip-test-unit --skip-prototype \
  &nbsp;&nbsp;--template=https://github.com/sampierson/rails-templates/raw/master/itdoesnothing.rb
  cd application_name
  heroku create application_name
  heroku config:add BUNDLE_WITHOUT="development:test"
  git push heroku master
  heroku rake db:migrate
  heroku addons:add sendgrid:free
%h2 What is it?
%p
  ItDoesNothing is a Rails application template that creates a functional website that is not yet purposed for a
  specific application.
  This website was entirely created then deployed to Heruoku using just the above commands.
  ItDoesNothing includes:
%br
%ul
  %li
    Installed test frameworks
    %ul
      %li
        = link_to 'RSpec 2', 'http://relishapp.com/rspec'
        for Ruby unit and functional tests
      %li
        = link_to 'RCov', 'http://eigenclass.org/hiki/rcov'
        (Ruby 1.8) or
        = link_to 'Cover Me', 'https://github.com/markbates/cover_me'
        (Ruby 1.9) for code coverage
      %li
        = link_to 'Cucumber', 'http://cukes.info/'
        for integration tests
      %li
        = link_to 'Jasmine', 'http://pivotal.github.com/jasmine/'
        for JavaScript unit tests, with the
        = link_to 'jasmine-jquery', 'https://github.com/velesin/jasmine-jquery'
        extension
      %li
        = link_to 'Spork', 'https://github.com/timcharper/spork'
        background test server
  %li
    = link_to 'Compass', 'http://compass-style.org/'
    with sporkd's
    = link_to 'HTML5-Boilerplate', 'https://github.com/sporkd/compass-html5-boilerplate'
    extension
  %li
    Authentication using
    = link_to 'Devise', 'https://github.com/plataformatec/devise'
    including email confirmations (:confirmable).
    - if Devise.mailer_sender == "please-change-me@config-initializers-devise.com"
      %div{ :style => 'color: red' }
        Please change Devise.mailer sender in config/initializers/devise.rb
    - if Rails.application.config.action_mailer.default_url_options[:host] =~ /localhost/
      %div{ :style => 'color: red' }
        Please change action_mailer.default_url_options in config/environments/#{Rails.env}.rb
  %li
    Authorization using
    = link_to 'CanCan', "https://github.com/ryanb/cancan"
  %li
    = link_to 'Simple-navigation', 'https://github.com/andi/simple-navigation'
    with multi-level CSS-only tabbed nagivation.
  %li
    Administrator's User Management page
  %li
    Internationalization
%br
Git is used to record every step in the construction of the application,
so you can see exactly what was done at each step.
%h2 Usage

%h4 Rails >= 3.0.4
%pre
  rails new &lt;application-name&gt; --skip-test-unit --skip-prototype --template=https://github.com/sampierson/rails-templates/raw/master/itdoesnothing.rb

%h4 Rails 3.0 to 3.0.3
There is a bug in Rails versions < 3.0.4 that will not allow you to use https addresses for templates.
So just checkout the template repository and run the template locally:
%pre
  git clone git://github.com/sampierson/rails-templates.git
  export TEMPLATES_REPOSITORY=`pwd`/rails-templates
  rails new &lt;application-name&gt; --skip-test-unit --skip-prototype --template=rails-templates/itdoesnothing.rb

